services:
  ctfd:
    build: .
    restart: unless-stopped
    ports:
      - 9220:8000
    environment:
      UPLOAD_FOLDER: /var/uploads
      DATABASE_URL: mysql+pymysql://${DB_USER:-ctfd}:${DB_PASSWORD}@db/${DB_NAME:-ctfd}
      REDIS_URL: redis://cache:6379
      WORKERS: 1
      LOG_FOLDER: /var/log/CTFd
      REVERSE_PROXY: true
      TRUSTED_HOSTS: ${TRUSTED_HOSTS}
    volumes:
      - logs:/var/log/CTFd
      - uploads:/var/uploads
    depends_on:
      - db

  db:
    image: mariadb:lts
    restart: unless-stopped
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: true
      MARIADB_USER: ${DB_USER:-ctfd}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME:-ctfd}
      MARIADB_AUTO_UPGRADE: 1
    volumes:
      - db:/var/lib/mysql

  cache:
    image: redis:4
    restart: unless-stopped
    volumes:
    - cache:/data

volumes:
  uploads:
  logs:
  db:
  cache:
